name: Deploy Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .   

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar cache de dependências
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
          
      - name: Instalar dependências
        run: npm install
        
      - name: Instalar dependências
        run: npm install react-icons
        
      - name: Build do projeto
        run: npm run build

      - name: Deploy no Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          channelId: live
          projectId: "loterias-cd8c9"
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
